/* ========== FEATURES SECTION ========== */
.features__container {
  gap: 3rem;

  .single__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .feature__heading {
      margin: 1.25rem auto;
      font-weight: $font-bold;
      font-family: var(--h2);
      font-family: $heading-font;
    }

    .feature__paragraph {
      text-align: center;
    }
  }
}

@include tablet {
  .features__container {
    max-width: $tablet;
    margin: auto;
  }
}

@include laptop {
  .features__container {
    max-width: $laptop + 200px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@include desktop {
  .features__container {
    max-width: fit-content;
    gap: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
