/* ========== FOOTER ========== */
#footer {
  background-color: var(--primary-color-dark);
  padding-bottom: 1rem;
  .footer__container {
    font-size: var(--big-font-size);
    padding: 1rem;
    gap: 0;

    .footer__info {
      margin-top: 1rem;
      .logo {
        margin-bottom: 1rem;
      }
    }

    .phone_email_footer {
      margin-bottom: 1rem;
    }

    .footer_icon_info {
      display: grid;
      grid-template-columns: 2.25rem 1fr;
      margin-bottom: 1rem;

      img {
        margin-top: 0.5rem;
      }
    }

    .footer__nav {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      a {
        color: var(--white);
        margin: 0.5rem 0;
      }
    }

    .footer__social {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      a {
        border: 1px solid white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        padding: 5px;
        margin: 0.5rem;

        img {
          width: 100%;
        }
      }
    }
  }
}

@include desktop {
  #footer {
    .footer__container {
      grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
      gap: 3rem;

      .phone_email_footer {
        margin-top: 2rem;
      }

      .footer__social {
        margin-top: 1rem;
      }
    }
  }
}
