/* ========== HEADER ========== */
.header {
  width: 100%;
  height: $nav-height;
  position: absolute;
  z-index: $z-index-nav;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo__img {
    width: 80px;
  }

  .nav__links {
    display: flex;

    li {
      margin-left: 1.5rem;
      font-size: var(--h3);
      font-family: $heading-font;
      font-weight: bold;

      a {
        color: var(--white);
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }
}
