/* ========== INTRO SECTION ========== */
#intro {
  background-color: var(--primary-color-light);
  position: relative;

  .intro__bg {
    position: absolute;
    bottom: 40%;
    width: 100%;
  }

  .fill__bg {
    position: absolute;
    top: 58%;
    background-color: var(--primary-color);
    width: 100%;
    height: 42%;
  }

  padding-top: $nav-height;
  padding-bottom: $nav-height;

  .intro__container {
    gap: 2rem;
    position: relative;
    z-index: 5;

    .img__container {
      width: 90%;
      margin: auto;
      margin-top: 2rem;
    }

    .intro__data {
      text-align: center;

      .intro__title {
        font-family: $heading-font;
        font-size: var(--h1);
      }

      .intro__paragraph {
        font-size: var(--normal-font-size);
        padding: 1rem 1.25rem;
      }
    }
  }
}
