@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  /* ========== Color Variables ========== */
  --primary-color-light: hsl(217, 28%, 15%);
  --primary-color: hsl(218, 28%, 13%);
  --primary-color-dark: hsl(216, 53%, 9%);
  --dark-blue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

/* ========== Screen Sizes ========== */
$tablet: 576px;
$laptop: 768px;
$desktop: 1024px;
$nav-height: 70px;

/* ========== Media Query Mixins ========== */
@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

/* ========== Fonts & Typography ========== */
$body-font: "Open Sans", sans-serif;
$heading-font: "Raleway", sans-serif;

$font-bold: 700;

$h1: 1.5rem;
$h2: 1.125rem;
$h3: 0.75rem;
$btn-font-size: 0.875rem;

$big-font-size: 1rem;
$normal-font-size: 0.875rem;
$small-font-size: 0.75rem;
$smaller-font-size: 0.688rem;
$tiny-font-size: 0.5rem;

@include tablet {
  $h1: 2.5rem;
  $h2: 1.25rem;
  $h3: 1rem;
  $btn-font-size: 1rem;

  $big-font-size: 1.125rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
}

/* ========== Resets ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: var(--primary-color);
  color: var(--white);
  line-height: 1.5;
}

/* ========== Layouts ========== */
.main__layout {
  overflow: hidden;
}

.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ========== HEADER ========== */
.header {
  height: $nav-height;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo__img {
    width: 80px;
  }

  .nav__links {
    display: flex;

    li {
      margin-left: 1.5rem;
      font-size: $h3;
      font-family: $heading-font;
      font-weight: bold;

      a {
        color: var(--white);
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }
}

/* ========== INTRO SECTION ========== */

/* ========== FEATURES SECTION ========== */
/* ========== TEAM SECTION ========== */
/* ========== TESTIMONIAL SECTION ========== */
/* ========== SIGN IN SECTION ========== */
