@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  /* ========== Color Variables ========== */
  --primary-color-light: hsl(217, 28%, 15%);
  --primary-color: hsl(218, 28%, 13%);
  --primary-color-dark: hsl(216, 53%, 9%);
  --dark-blue: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --h1: 1.625rem;
  --h2: 1.25rem;
  --h3: 0.813rem;
  --btn-font-size: 0.938rem;
  --big-font-size: 1.063rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.688rem;
  --tiny-font-size: 0.55rem;
}

/* ========== Screen Sizes ========== */
/* ========== Media Query Mixins ========== */
/* ========== Fonts & Typography ========== */
@media only screen and (min-width: 768px) {
  :root {
    --h1: 2.5rem;
    --h2: 1.5rem;
    --h3: 1rem;
    --btn-font-size: 1rem;
    --big-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;
    --tiny-font-size: 0.688rem;
  }
}

/* ========== Resets ========== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--primary-color);
  color: var(--white);
  line-height: 1.5;
}

/* ========== Layouts ========== */
.main__layout {
  overflow: hidden;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/* ========== Buttons ========== */
.btn {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: var(--btn-font-size);
  font-weight: 700;
  border: none;
  padding: 1rem 4.5rem;
  border-radius: 3rem;
  cursor: pointer;
  -webkit-transition: background-color 700;
  transition: background-color 700;
  margin: 1rem auto;
}

.btn:hover {
  background-color: var(--cyan);
}

/* ========== HEADER ========== */
.header {
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 10;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav__container .logo__img {
  width: 80px;
}

.nav__container .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__container .nav__links li {
  margin-left: 1.5rem;
  font-size: var(--h3);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.nav__container .nav__links li a {
  color: var(--white);
}

.nav__container .nav__links li:first-child {
  margin-left: 0;
}

/* ========== INTRO SECTION ========== */
#intro {
  background-color: var(--primary-color-light);
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

#intro .intro__bg {
  position: absolute;
  bottom: 40%;
  width: 100%;
}

#intro .fill__bg {
  position: absolute;
  top: 58%;
  background-color: var(--primary-color);
  width: 100%;
  height: 42%;
}

#intro .intro__container {
  gap: 2rem;
  position: relative;
  z-index: 5;
}

#intro .intro__container .img__container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

#intro .intro__container .intro__data {
  text-align: center;
}

#intro .intro__container .intro__data .intro__title {
  font-family: "Raleway", sans-serif;
  font-size: var(--h1);
}

#intro .intro__container .intro__data .intro__paragraph {
  font-size: var(--normal-font-size);
  padding: 1rem 1.25rem;
}

/* ========== FEATURES SECTION ========== */
.features__container {
  gap: 3rem;
}

.features__container .single__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.features__container .single__feature .feature__heading {
  margin: 1.25rem auto;
  font-weight: 700;
  font-family: var(--h2);
  font-family: "Raleway", sans-serif;
}

.features__container .single__feature .feature__paragraph {
  text-align: center;
}

/* ========== TEAM SECTION ========== */
.team__container .img__container {
  padding: 2rem 1rem;
}

.team__container .team__data .team__heading {
  font-size: var(--h2);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.team__container .team__data .team__paragraph {
  font-size: var(--normal-font-size);
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
  margin-bottom: 0;
}

.team__container .link__container .team__link {
  font-size: var(--small-font-size);
  color: var(--cyan);
  margin: auto 1rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--cyan);
}

.team__container .link__container .team__link .team__link__arrow {
  vertical-align: middle;
}

/* ========== TESTIMONIAL SECTION ========== */
.testi__container {
  padding: 1rem;
  gap: 2rem;
}

.testi__container .card {
  background-color: var(--dark-blue);
  border-radius: 0.5rem;
  padding: 1.75rem;
  line-height: 1rem;
}

.testi__container .card .testi__text {
  font-size: var(--smaller-font-size);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.testi__container .card .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testi__container .card .profile .profile__avatar {
  width: 13%;
}

.testi__container .card .profile .profile__avatar img {
  border-radius: 50%;
}

.testi__container .card .profile .profile__info {
  margin-left: 1rem;
}

.testi__container .card .profile .profile__info h3 {
  font-size: var(--h3);
}

.testi__container .card .profile .profile__info span {
  font-size: var(--tiny-font-size);
}

.testi__container .first__card {
  position: relative;
}

.testi__container .first__card::before {
  content: "";
  position: absolute;
  top: -9%;
  left: 2%;
  background-image: url(../img/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/* ========== SIGN IN SECTION ========== */
#signin {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--primary-color)), color-stop(50%, var(--primary-color-dark)));
  background: linear-gradient(to bottom, var(--primary-color) 50%, var(--primary-color-dark) 50%);
  padding-bottom: 0;
}

.signin__container .signin__card {
  background-color: var(--primary-color-light);
  padding: 2.5rem 2rem;
  border-radius: 0.75rem;
}

.signin__container .signin__card h2 {
  font-size: var(--h2);
  text-align: center;
}

.signin__container .signin__card p {
  text-align: center;
  margin: 1rem 0;
}

.signin__container .signin__card .input__container .email__container {
  width: 100%;
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.signin__container .signin__card .input__container .email__container .email__input {
  width: 100%;
  outline: none;
  border: none;
}

.signin__container .signin__card .input__container .email__btn {
  width: 100%;
}

/* ========== FOOTER ========== */
#footer {
  background-color: var(--primary-color-dark);
  padding-bottom: 1rem;
}

.footer__container {
  font-size: var(--big-font-size);
  padding: 1rem;
}

.footer__container .footer__info {
  margin: 1rem 0;
}

.footer__container .footer__info .logo {
  margin-bottom: 1rem;
}

.footer__container .footer__info .footer_icon_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.25rem 1fr;
      grid-template-columns: 2.25rem 1fr;
  margin-bottom: 1rem;
}

.footer__container .footer__info .footer_icon_info img {
  margin-top: 0.5rem;
}

.footer__container .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.footer__container .footer__nav a {
  color: var(--white);
  margin: 0.5rem 0;
}

.footer__container .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.footer__container .footer__social a {
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  margin: 0.5rem;
}

.footer__container .footer__social a img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */